*{
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;400;600;700;800&display=swap');

:root{
    --theme-primary: #F0EBE3;
    --theme-secondary: #E4DCCF;
    --theme-ligth: #7D9D9C;
    --theme-dark: #576F72;
    --theme-black: #3A3D42;
    --theme-white: #fff;
}

.c-primary{color: var(--theme-primary) !important;}
.c-secondary{color: var(--theme-secondary) !important;}
.c-ligth{color: var(--theme-ligth) !important;}
.c-dark{color: var(--theme-dark) !important;}
.c-black{color: var(--theme-black) !important;}
.c-white{color: var(--theme-white) !important;}
.bc-primary{background-color: var(--theme-primary) !important;}
.bc-secondary{background-color: var(--theme-secondary) !important;}
.bc-ligth{background-color: var(--theme-ligth) !important;}
.bc-dark{background-color: var(--theme-dark) !important;}
.bc-black{background-color: var(--theme-black) !important;}
.bc-white{background-color: var(--theme-white) !important;}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 8rem;
    height: 8rem;
    background-color: var(--theme-primary);
}

.logo{
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 800;
    color: var(--theme-dark);
    font-size: 2.6rem;
}

.menu{
    display: none;
    padding: 2px;
    border: 2px solid var(--theme-dark);
}

.account{
    display: flex;
    gap: 1.5rem;
}

button{
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 600;
    background-color: var(--theme-dark);
    color: var(--theme-primary);
    padding: 0.7rem 3rem;
    border-radius: 1rem;
    outline: unset;
    border: unset;
    font-size: 1.2em;
    width: fit-content;
}

.account{
    background-color: var(--theme-primary);
    color: var(--theme-dark);
    border: 2px solid var(--theme-dark);
}

.mp{
    padding: 5rem 8rem;
}

.form-control:focus{
    box-shadow: unset;
}

.fw-input{
    border-bottom: 1px solid var(--theme-dark);
}

.main{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15rem;
    padding: 0 8rem;
    background-color: var(--theme-primary);
}

.h1{
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 800;
    font-size: 60px;
    color: var(--theme-black);
    /* max-width: 50rem; */
    line-height: 90px;
}

.h2{
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: var(--theme-black);
    /* max-width: 30rem; */
    line-height: 33px;
}

.h3{
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: var(--theme-black);
    /* max-width: 30rem; */
    line-height: 25px;
}

.color{
    color: var(--theme-dark);
}

.partner{
    display: flex;
    justify-content: center;
    gap: 2.5rem;
    flex-wrap: wrap;
    padding: 4rem 8rem;
    background-color: var(--theme-dark);
}

.about{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--theme-primary);
    padding: 4rem 8rem;
}

.about .cards{
    display: flex;
    justify-content: center;
    max-width: 20rem;
    height: auto;
}

.fw-card{
    width: 100%;
    height: 100%;
    background-color: var(--theme-secondary);
    box-shadow: 0px 0px 5px var(--theme-secondary);
    border-radius: 25px;
    padding: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}

.icon{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    background-color: var(--theme-primary);
    border-radius: 50%;
}

.feature{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    background-color: var(--theme-dark);
    padding: 4rem 8rem;
}

.feature .h1{
    max-width: 35rem;
    color: var(--theme-primary);
}

.feature .h3{
    max-width: 100%;
    margin: 0;
}

.feature .color{
    max-width: 35rem;
    color: var(--theme-ligth);
}

.feature .cards{
    width: 100%;
    height: auto;
}

.user{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4rem 8rem;
    background-color: var(--theme-primary);
}

.user .cards{
    width: auto;
    height: auto;
}

.user .fw-card img{
    max-width: 5rem;
    max-height: 5rem;
}

footer{
    background-color: var(--theme-dark);
    padding: 4rem 8rem;
}

footer .logo{
    color: var(--theme-primary);
}

footer .line{
    background-color: var(--theme-ligth);
    height: 1px;
    margin: 2rem 0;
    width: 100%;
}

footer .sign{
    display: flex;
    justify-content: space-between;
}

footer .contact{
    display: flex;
    gap: 2rem;
}

footer .h3{
    color: var(--theme-ligth);
    max-width: 18rem;
}

.account{
    border: unset;
    gap: 0;
}

.control-pin{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 55px;
    border-radius: 10px;
    border: 1px solid rgba(169, 169, 169, 0.6);
}

.form-pin{
    width: fit-content;
    border-bottom: 1px solid rgba(169, 169, 169, 0.6);
}

.control-pin .pin{
    width: 30px !important;
    height: 30px !important;
    text-align: center;
    padding: 0;
}

.profile-picture{
    width: 55px;
    height: 55px;
}

.body-dashboard{
    display: flex;
    flex: 1;
    height: 100vh;
}

.w-fill{
    width: 100%;
}

.h-fill{
    height: 100%;
}

.control-card{
    height: 11rem;
}

.history-transaction{
    overflow-y: hidden;
    max-height: 330px;
}

.oo{
    -webkit-mask-image: linear-gradient(180deg, #000 95%, transparent);
}

.transactions{
    overflow-y: scroll;
    padding-right: 0.5rem;
    max-height: 480px;
}

.receiver{
    overflow-y: scroll;
    padding-right: 0.5rem;
    max-height: 420px;
}

.topup{
    overflow-y: scroll;
    padding-right: 0.5rem;
    max-height: 520px;
}

.input-standart{
    width: 350px;
}

@media (max-width: 1350px) {
    .navbar-dashboard .fw-card{
        align-items: center !important;
        padding-left: 0;
        padding-right: 0;
    }

    .navbar-text{
        display: none;
    }

    .navbar-dashboard{
        width: 50px;
    }
}

@media (max-width: 1199.98px) {
    .main .content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 85vh;
    }
    .phone{
        display: none;
    }

    footer .sign{
        flex-direction: column;
    }

    .intro{
        width: 100vw;
        height: fit-content !important;
        display: flex;
    }

    .intro .content{
        height: fit-content !important;
        position: unset !important;
        background-color: var(--theme-primary) !important;
    }

    .intro .logo{
        color: var(--theme-dark) !important;
    }

    .intro img, .title, .doc{
        display: none;
    }

    .account{
        flex-direction: column;
        justify-content: center;
        height: 100vh;
        border: unset;
    }

    .form-account{
        width: 100vw;
        height: 100% !important;
        padding: 0 8rem;
        max-height: 30rem;
    }

    .container-body{
        height: auto !important;
    }

    .dashboard-content{
        flex-direction: column;
    }

    .dashboard-chart{
        width: 100% !important;
    }

    .dashboard-chart .chart{
        height: 200px;
    }

    .profile-nav{
        width: 100% !important;
    }
}

@media (max-width: 767.98px) {
    .menu{
        display: block;
        width: 30px;
        height: 30px;
    }
    .account-home{
        display: none !important;
    }
    .account{
        display: none;
    }
    .phone{
        display: none;
    }
    .main .content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 85vh;
    }
    footer .contact{
        display: flex;
        flex-direction: column;
        gap: 0;
    }
    .main, .parner, .about, .feature, .user, footer, header{
        padding: 2rem 0.5rem;
    }

    .form-account{
        padding: 0 2rem;
        max-height: 80vh;
    }

    .intro .content{
        padding: 2rem 2rem;
    }

    .body-dashboard{
        padding: 0 1rem;
    }
}