*{
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;400;600;700;800&display=swap');

:root{
    --theme-primary: #F0EBE3;
    --theme-secondary: #E4DCCF;
    --theme-ligth: #7D9D9C;
    --theme-dark: #576F72;
    --theme-black: #3A3D42;
    --theme-white: #fff;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 8rem;
    height: 8rem;
    background-color: var(--theme-primary);
}

.logo{
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 800;
    color: var(--theme-dark);
    font-size: 2.6rem;
}

.menu{
    display: none;
    padding: 2px;
    border: 2px solid var(--theme-dark);
}

.account{
    display: flex;
    gap: 1.5rem;
}

button{
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 600;
    background-color: var(--theme-dark);
    color: var(--theme-primary);
    padding: 0.7rem 3rem;
    border-radius: 1rem;
    outline: unset;
    border: unset;
    font-size: 1.2em;
    width: fit-content;
}

.login{
    background-color: var(--theme-primary);
    color: var(--theme-dark);
    border: 2px solid var(--theme-dark);
}

.main{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15rem;
    padding: 0 8rem;
    background-color: var(--theme-primary);
}

.h1{
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 800;
    font-size: 60px;
    color: var(--theme-black);
    max-width: 50rem;
}

.h2{
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: var(--theme-black);
    max-width: 30rem;
}

.h3{
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: var(--theme-black);
    max-width: 30rem;
}

.color{
    color: var(--theme-dark);
}

.partner{
    display: flex;
    justify-content: center;
    gap: 2.5rem;
    flex-wrap: wrap;
    padding: 4rem 8rem;
    background-color: var(--theme-dark);
}

.about{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--theme-primary);
    padding: 4rem 8rem;
}

.about .cards{
    display: flex;
    justify-content: center;
    width: auto;
    height: auto;
}

.fw-card{
    width: 100%;
    height: 100%;
    background-color: var(--theme-secondary);
    box-shadow: 0px 0px 5px var(--theme-secondary);
    border-radius: 25px;
    padding: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}

.icon{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    background-color: var(--theme-primary);
    border-radius: 50%;
}

.feature{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    background-color: var(--theme-dark);
    padding: 4rem 8rem;
}

.feature .h1{
    max-width: 35rem;
    color: var(--theme-primary);
}

.feature .h3{
    max-width: 100%;
    margin: 0;
}

.feature .color{
    max-width: 35rem;
    color: var(--theme-ligth);
}

.feature .cards{
    width: 100%;
    height: auto;
}

.user{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4rem 8rem;
    background-color: var(--theme-primary);
}

.user .cards{
    width: auto;
    height: auto;
}

.user .fw-card img{
    max-width: 5rem;
    max-height: 5rem;
}

footer{
    background-color: var(--theme-dark);
    padding: 4rem 8rem;
}

footer .logo{
    color: var(--theme-primary);
}

footer .line{
    background-color: var(--theme-ligth);
    height: 1px;
    margin: 2rem 0;
    width: 100%;
}

footer .sign{
    display: flex;
    justify-content: space-between;
}

footer .contact{
    display: flex;
    gap: 2rem;
}

footer .h3{
    color: var(--theme-ligth);
    max-width: 18rem;
}

@media (max-width: 1199.98px) {
    .main .content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 85vh;
    }
    .phone{
        display: none;
    }

    footer .sign{
        flex-direction: column;
    }
}

@media (max-width: 767.98px) {
    .menu{
        display: block;
        width: 30px;
        height: 30px;
    }
    .account{
        display: none;
    }
    .phone{
        display: none;
    }
    .main .content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 85vh;
    }
    footer .contact{
        display: flex;
        flex-direction: column;
        gap: 0;
    }
}